<mat-toolbar color="none" class="wrapper">
  <nav>
    <!-- Left nav (logo + title) -->
    <div class="left-nav" routerLink="/">
      <img lazyLoad src="/assets/images/logo.png" alt="logo">
      <span>ethanbaker.dev</span>
    </div>

    <!-- Open menu (on small devices) -->
    <mat-icon id="menu-toggle" class="global-small" [inline]="true" (click)="openMenu()">menu</mat-icon>

    <!-- List of menu items (on large devices) -->
    <div class="right-nav global-large">
      <div *ngFor="let item of schema">
        <!-- Route links -->
        <button *ngIf="item.type === 'route'" mat-stroked-button [routerLink]="item.url" (click)="closeMenu()" (mouseup)="scrollTop()">{{ item.name }}</button>

        <!-- External links -->
        <a *ngIf="item.type === 'external'" [href]="item.url" target="_blank"><button mat-stroked-button>{{ item.name }}</button></a>

        <!-- Sub-level menus -->
        <div *ngIf="item.type === 'menu' && item.children != undefined && item.children.length > 0">
          <button mat-stroked-button [matMenuTriggerFor]="child.menu">{{ item.name }}</button>

          <app-nav-menu #child [items]="item.children"></app-nav-menu>
        </div>
      </div>

      <!-- Theme toggle -->
      <mat-slide-toggle id="mode-toggle" #switchLarge color="primary" (change)="toggleTheme($event)" [checked]="checked"></mat-slide-toggle>
    </div>
  </nav>
</mat-toolbar>

<!-- Menu modal to view (on small devices) -->
<div [classList]="menuOpen ? 'menu global-small' : 'menu global-small base-hidden'" (click)="closeMenu()">
  <div class="menu-wrapper">
    <mat-list (click)="$event.stopPropagation()">
      <mat-list-item *ngFor="let item of schema">
        <!-- Route links -->
        <button *ngIf="item.type === 'route'" mat-stroked-button [routerLink]="item.url" (click)="closeMenu()" (mouseup)="scrollTop()">{{ item.name }}</button>

        <!-- External links -->
        <a *ngIf="item.type === 'external'" target="_blank" [href]="item.url"><button mat-stroked-button>{{ item.name }}</button></a>

        <!-- Sub-level menus -->
        <div *ngIf="item.type === 'menu' && item.children != undefined && item.children.length > 0">
          <button mat-stroked-button [matMenuTriggerFor]="child.menu">{{ item.name }}</button>

          <app-nav-menu #child [items]="item.children"></app-nav-menu>
        </div>
      </mat-list-item>

      <!-- Theme toggle -->
      <mat-list-item>
        <mat-slide-toggle #switchSmall color="primary" (change)="toggleTheme($event)" [checked]="checked"></mat-slide-toggle>
      </mat-list-item>

      <!-- Close menu -->
      <mat-list-item>
        <mat-icon id="close-button" (click)="closeMenu()">close</mat-icon>
      </mat-list-item>
    </mat-list>
  </div>
</div>