<div class="wrapper">
    <div class="title-container">
        <h2 class="base">About</h2>
    </div>

    <div class="body-container">
        <div class="image-container">
            <img class="story-image" lazyLoad src="/assets/images/bust.jpg" alt="image of Ethan Baker">
        </div>

        <div class="story-container">
            <h3 class="base">My Story</h3>

            <p class="base base-text-justify base-spaced">My keyboard is my paintbrush, and code is the vibrant palette through which I work to sculpt digital masterpieces, driven by my innate curiosity and the ability to wonder.</p>

            <p class="base base-text-justify base-spaced">Coding is not just a skill to add to my resume; it's my form of artistic expression. I am currently majoring in Computer Science with a concentration in AI at North Carolina State University to acquire the background I need to navigate the ever-changing world of technology with an artist's precision.</p>

            <p class="base base-text-justify base-spaced">Versatility and an unyielding commitment to becoming a true STEM enthusiast mark all parts of my journey. My experiences as a Software Developer Intern at BioRad Laboratories and a Full Stack Developer at the Institute of Transportation and Research Education at NC State University have challenged me to apply my coding skills to expansive scientific fields. I am not just a full-stack developer; I am an autodidact constantly working to push the boundaries of my knowledge.</p>

            <p class="base base-text-justify base-spaced">In entrepreneurship, I lead my company, SmartPlanner, with a vision that blends technical prowess with customer-focused goals. My work philosophy revolves around collaborative problem-solving, viewing each challenge as an opportunity to craft compelling and inventive solutions for the team.</p>

            <p class="base base-text-justify base-spaced">Driven by teamwork and an innate passion for creating complete solutions, my career goals revolve around industry leadership in computer science and a commitment to lifelong learning. Let's connect and explore the exciting and ever-changing intersection of technology and creativity!</p>
        </div>
    </div>
</div>